.sidebar .box {
  background-color: inherit;
}

.sidebar .box-title {
  color: white;
}

pre.shiny-text-output {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p { font-size: 120%; }

#broom_output table tbody tr td:nth-child(3) { color: white; }
ul.sidebar-menu label { width: 100%; padding: 1px 5px; }

label[for="nsubj"] { background-color: inherit; }
label[for="nitem"] { background-color: inherit; }
#broom_output table tbody tr:nth-child(1) td:nth-child(3) { background-color: #E50F45; }
#broom_output table tbody tr:nth-child(2) td:nth-child(3) { background-color: #E76839; }
#broom_output table tbody tr:nth-child(3) td:nth-child(3) { background-color: #B29700; }
#broom_output table tbody tr:nth-child(4) td:nth-child(3) { background-color: #086F50; }
#broom_output table tbody tr:nth-child(5) td:nth-child(3) { background-color: #3B5CA7; }
#broom_output table tbody tr:nth-child(6) td:nth-child(3) { background-color: #702981; }
#broom_output table tbody tr:nth-child(7) td:nth-child(3) { background-color: #C20FA7; }
  
ul.sidebar-menu div:nth-child(7) .form-group:nth-child(1) span.irs-bar, 
ul.sidebar-menu div:nth-child(7) .form-group:nth-child(1) span.irs-bar-edge { 
  background-color: #E50F45;
  border-color: #E50F45;
}

ul.sidebar-menu div:nth-child(7) .form-group:nth-child(2) span.irs-bar, 
ul.sidebar-menu div:nth-child(7) .form-group:nth-child(2) span.irs-bar-edge { 
  background-color: #E76839;
  border-color: #E76839;
}

ul.sidebar-menu div:nth-child(8) .form-group:nth-child(1) span.irs-bar, 
ul.sidebar-menu div:nth-child(8) .form-group:nth-child(1) span.irs-bar-edge { 
  background-color: #B29700;
  border-color: #B29700;
}

ul.sidebar-menu div:nth-child(8) .form-group:nth-child(2) span.irs-bar, 
ul.sidebar-menu div:nth-child(8) .form-group:nth-child(2) span.irs-bar-edge { 
  background-color: #086F50;
  border-color: #086F50;
}

ul.sidebar-menu div:nth-child(8) .form-group:nth-child(3) span.irs-bar, 
ul.sidebar-menu div:nth-child(8) .form-group:nth-child(3) span.irs-bar-edge { 
  background-color: #3B5CA7;
  border-color: #3B5CA7;
}

ul.sidebar-menu div:nth-child(8) .form-group:nth-child(4) span.irs-bar, 
ul.sidebar-menu div:nth-child(8) .form-group:nth-child(4) span.irs-bar-edge { 
  background-color: #702981;
  border-color: #702981;
}

ul.sidebar-menu div:nth-child(8) .form-group:nth-child(5) span.irs-bar, 
ul.sidebar-menu div:nth-child(8) .form-group:nth-child(5) span.irs-bar-edge { 
  background-color: #C20FA7;
  border-color: #C20FA7;
}

#resim, #reset { display: inline-block; width: 40%;}


.b0, .b1, .S0s, .S1s, .scor, .I0i, .err { 
  background-color: transparent; 
  color: black; 
  border-bottom: 3px solid black; 
  border-radius: 0;
}
.b0   { border-color: #E50F45; }
.b1   { border-color: #E76839; }
.S0s  { border-color: #B29700; }
.S1s  { border-color: #086F50; }
.scor { border-color: #3B5CA7; }
.I0i  { border-color: #702981; }
.err  { border-color: #C20FA7; }