.sidebar .box {
  background-color: inherit;
}

.sidebar .box-title {
  color: white;
}

pre.shiny-text-output {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p { font-size: 120%; }

#broom_output table tbody tr td:nth-child(3) { color: white; }
ul.sidebar-menu label { width: 100%; padding: 1px 5px; }

label[for="n_subj"] { background-color: inherit; }
label[for="n_ingroup"] { background-color: inherit; }
label[for="n_outgroup"] { background-color: inherit; }
#broom_output table tbody tr:nth-child(1) td:nth-child(3) { background-color: #E50F45; }
#broom_output table tbody tr:nth-child(2) td:nth-child(3) { background-color: #E76839; }
#broom_output table tbody tr:nth-child(3) td:nth-child(3) { background-color: #B29700; }
#broom_output table tbody tr:nth-child(4) td:nth-child(3) { background-color: #086F50; }
#broom_output table tbody tr:nth-child(5) td:nth-child(3) { background-color: #015FA1; }
#broom_output table tbody tr:nth-child(6) td:nth-child(3) { background-color: #702981; }
#broom_output table tbody tr:nth-child(7) td:nth-child(3) { background-color: #C20FA7; }

label[for="beta_0"] + span.irs span.irs-bar,
label[for="beta_0"] + span.irs span.irs-bar-edge,
label[for="beta_0_"] + span.irs span.irs-bar,
label[for="beta_0_"] + span.irs span.irs-bar-edge
{ 
  background-color: #E50F45;
  border-color: #E50F45;
}

label[for="beta_1"] + span.irs span.irs-bar,
label[for="beta_1"] + span.irs span.irs-bar-edge,
label[for="beta_1_"] + span.irs span.irs-bar,
label[for="beta_1_"] + span.irs span.irs-bar-edge 
{ 
  background-color: #E76839;
  border-color: #E76839;
}

label[for="tau_0"] + span.irs span.irs-bar,
label[for="tau_0"] + span.irs span.irs-bar-edge,
label[for="tau_0_"] + span.irs span.irs-bar,
label[for="tau_0_"] + span.irs span.irs-bar-edge 
{ 
  background-color: #B29700;
  border-color: #B29700;
}

label[for="tau_1"] + span.irs span.irs-bar,
label[for="tau_1"] + span.irs span.irs-bar-edge,
label[for="tau_1_"] + span.irs span.irs-bar,
label[for="tau_1_"] + span.irs span.irs-bar-edge 
{ 
  background-color: #086F50;
  border-color: #086F50;
}

label[for="rho"] + span.irs span.irs-bar,
label[for="rho"] + span.irs span.irs-bar-edge,
label[for="rho_"] + span.irs span.irs-bar,
label[for="rho_"] + span.irs span.irs-bar-edge 
{ 
  background-color: #015FA1;
  border-color: #015FA1;
}

label[for="omega_0"] + span.irs span.irs-bar,
label[for="omega_0"] + span.irs span.irs-bar-edge,
label[for="omega_0_"] + span.irs span.irs-bar,
label[for="omega_0_"] + span.irs span.irs-bar-edge { 
  background-color: #702981;
  border-color: #702981;
}

label[for="sigma"] + span.irs span.irs-bar,
label[for="sigma"] + span.irs span.irs-bar-edge,
label[for="sigma_"] + span.irs span.irs-bar,
label[for="sigma_"] + span.irs span.irs-bar-edge { 
  background-color: #C20FA7;
  border-color: #C20FA7;
}

label[for="n_subj"] + span.irs span.irs-bar,
label[for="n_subj"] + span.irs span.irs-bar-edge,
label[for="n_subj_"] + span.irs span.irs-bar,
label[for="n_subj_"] + span.irs span.irs-bar-edge { 
  background-color: #F5AABF;
  border-color: #F5AABF;
}

label[for="n_ingroup"] + span.irs span.irs-bar,
label[for="n_ingroup"] + span.irs span.irs-bar-edge,
label[for="n_ingroup_"] + span.irs span.irs-bar,
label[for="n_ingroup_"] + span.irs span.irs-bar-edge,
label[for="n_outgroup"] + span.irs span.irs-bar,
label[for="n_outgroup"] + span.irs span.irs-bar-edge,
label[for="n_outgroup_"] + span.irs span.irs-bar,
label[for="n_outgroup_"] + span.irs span.irs-bar-edge{ 
  background-color: #64D2E0;
  border-color: #64D2E0;
}

#resim, #reset { display: inline-block; width: 40%;}


.RT, .beta_0, .beta_1, .T0s, .T1s, .rho, .O0i, .err, .X1, .n_subj, .n_item { 
  background-color: transparent; 
  color: black; 
  border-bottom: 2px solid transparent; 
  border-radius: 0;
}
.beta_0   { border-color: #E50F45; }
.beta_1   { border-color: #E76839; }
.T0s  { border-color: #B29700; }
.T1s  { border-color: #086F50; }
.rho { border-color: #3B5CA7; }
.O0i  { border-color: #702981; }
.err  { border-color: #C20FA7; }
.n_subj { border-color: #F5AABF; }
.n_item { border-color: #64D2E0; }

#lmer_output {
  font-family: Courier, sans-serif;
}